<div class="edit">
  <%= render 'settings/settings_menu' %>

  <div class="pure-g-r content-container">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <header>
          <h2>Admin</h2>
        </header>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'pure-form pure-form-stacked qt-form qt-form-split' }) do |f| %>
          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= devise_error_messages! %>
            </div>
          </div>
<!--
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="pure-g-r">
              <div class="pure-u-1">
                Currently waiting confirmation for: <%= resource.unconfirmed_email %>
              </div>
            </div>
          <% end %>
 -->
          <div class="pure-g-r">
            <div class="pure-u-1-2 left-field">
              <%= f.label :current_password, 'Current Password' %>
              <%= f.password_field :current_password, placeholder: 'Enter your current password...' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1-2 left-field">
              <%= f.label :password, 'New Password' %>
              <%= f.password_field :password, autocomplete: 'off', placeholder: 'Enter your new password...' %>
            </div>

            <div class="pure-u-1-2 right-field">
              <%= f.label :password_confirmation, 'New Password Confirmation' %>
              <%= f.password_field :password_confirmation, placeholder: 'Confirm your new password...' %>
            </div>
          </div>

          <div class="pure-g-r actions">
            <div class="pure-u-1">
              <%= f.submit "Update" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="pure-g-r content-container page-actions">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <header>
          <h2>Actions</h2>
        </header>

        <div class="pure-g-r page-sub-action">
          <div class="pure-u-1">
            <header>
              <h3>Cancel my account</h3>
            </header>
          </div>

          <div class="pure-u-2-3">
            <p class="action-description no-bottom-margin">
              Cancelling your account is permanent and cannot be undone.
            </p>
          </div>

          <div class="pure-u-1-3 actions">
            <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'danger' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>