<div class="new">
  <div class="pure-g-r">
    <div class="pure-u-1 sign-up">
      <div class="inner-container">
        <header>
          <h1>Sign Up to QuickTalk</h1>
        </header>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' }) do |f| %>
          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= devise_error_messages! %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, :autofocus => true, placeholder: 'Enter your first name...' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, placeholder: 'Enter your last name...' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= f.label :email %>
              <%= f.email_field :email, placeholder: 'Enter your email address...' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= f.label :password %>
              <%= f.password_field :password, placeholder: 'Enter your password...' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= f.label :password_confirmation, 'Password Confirmation' %>
              <%= f.password_field :password_confirmation, placeholder: 'Confirm your password...' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= label_tag 'secret', 'Secret' %>
              <%= password_field_tag 'secret', nil, placeholder: 'Enter the secret...' %>
            </div>
          </div>

          <div class="pure-g">
            <div class="pure-u-1-2 links">
              <%= render "devise/shared/links" %>
            </div>

            <div class="pure-u-1-2 actions">
              <%= f.submit "Sign up" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>