<%= form_for new_share_path, html: { class: 'pure-form pure-form-stacked qt-form qt-form-full qt-form-share' } do |f| %>
  <div class="pure-g-r">
    <div class="pure-u-1">
      <div class="pure-g-r">
        <div class="pure-u-1">
          <%= f.select :recipients, [], { include_hidden: false }, { id: 'share_recipients', multiple: true, placeholder: 'Choose recipients...' } %>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1 actions">
          <%= f.submit 'Share' %>
        </div>
      </div>
    </div>
  </div>
<% end %>