<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <%= @recipient.first_name %>,
    </p>
    <p>
      <%= @message %>
    </p>
    <p>
      To see the page <%= @sender.first_name %> has shared with you, just follow this link: <%= @url %>.
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>