<%= form_for user, html: { class: 'pure-form pure-form-stacked qt-form qt-form-split' } do |f| %>
  <div class="pure-g-r">
    <% if user.errors.any? %>
      <div class="pure-u-1">
        <div id="error_explanation" class="pure-u-1">
          <h2><%= pluralize(user.errors.count, 'error') %> prohibited this post from being saved:</h2>

          <ul>
          <% user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="pure-u-1">
      <div class="pure-g-r">
        <div class="pure-u-1-2 left-field">
          <%= f.label :first_name, 'First Name' %>
          <%= f.text_field :first_name, placeholder: 'Enter your first name...', autocomplete: :off %>
        </div>

        <div class="pure-u-1-2 right-field">
          <%= f.label :last_name, 'Last Name', style: 'width: 100%;' %>
          <%= f.text_field :last_name, placeholder: 'Enter your last name...', autocomplete: :off %>
        </div>    
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1-2 left-field">
          <%= f.label :email, 'Email' %>
          <%= f.text_field :email, placeholder: 'Enter your email address...', autocomplete: :off %>
        </div>

        <div class="pure-u-1-2 right-field">
          <%= f.label :phone, 'Phone' %>
          <%= f.text_field :phone, placeholder: 'Enter your phone number...', autocomplete: :off %>
        </div>
      </div>

      <div class="pure-g-r bottom-margin-small-spacer">
        <div class="pure-u-1">
          <div class="change-image-container">
            <!-- TODO: Change label to to image instead of department -->
            <%= f.label :department, 'Image' %>

            <div class="user-details-image">
              <img src="http://i.imgur.com/rO4toTv.png" />
            </div>

            <div class="change-image-link">
              <!-- TODO: Change link to upload image -->
              <%= link_to 'Change image...', profile_settings_path %>
            </div>
          </div>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1-2 left-field">
          <%= f.label :department, 'Department' %>
          <%= f.text_field :department, placeholder: 'Enter your department...', autocomplete: :off %>
        </div>

        <div class="pure-u-1-2 right-field">
          <%= f.label :location, 'Location' %>
          <%= f.text_field :location, placeholder: 'Enter your location...', autocomplete: :off %>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1-2 left-field">
          <%= f.label :company, 'Company' %>
          <%= f.text_field :company, placeholder: 'Enter your company...', autocomplete: :off %>
        </div>
      </div>
    </div>

    <div class="pure-u-1 actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>