<div class="edit">
  <div class="pure-g-r content-menu">
    <div class="pure-u-1 content-menu-inner">
      <div class="pure-g-r">
        <div class="pure-u-1-2 section-heading">
          <h1 class="section-header">
            <%= link_to @user.full_name, user_path(@user) %>
          </h1>

          <% if current_user == @user %>
            <%= link_to 'Edit', edit_user_path(@user) %>
          <% end %>
        </div>

        <div class="pure-u-1-2 text-right">
          <nav>
            <ul>
              <li>
                <%= nav_link 'Everything', user_path(@user) %>
              </li>
              <li>
                <%= nav_link 'Posts', user_path(@user, tab: 'posts') %>
              </li>
              <li>
                <%= nav_link 'Comments', user_path(@user, tab: 'comments') %>
              </li>
              <li>
                <%= nav_link 'Sections', user_path(@user, tab: 'sections') %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>