<div class="show">
  <div class="pure-g-r content-menu">
    <div class="pure-u-1 content-menu-inner">
      <div class="pure-g-r">
        <div class="pure-u-1-2 section-heading">
          <h1 class="section-header">
            <%= link_to @user.full_name, user_path(@user) %>
          </h1>

          <% if current_user == @user %>
            <%= link_to 'Edit', profile_settings_path %>
          <% end %>
        </div>

        <div class="pure-u-1-2 text-right">
          <nav>
            <ul>
              <li>
                <%= nav_link 'Everything', user_path(@user) %>
              </li>
              <li>
                <%= nav_link 'Posts', user_path(@user, tab: 'posts') %>
              </li>
              <li>
                <%= nav_link 'Comments', user_path(@user, tab: 'comments') %>
              </li>
              <li>
                <%= nav_link 'Sections', user_path(@user, tab: 'sections') %>
              </li>
              <li>
                <%= nav_link 'Favourites', user_path(@user, tab: 'favourites') %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1 content">
      <div class="pure-g-r">
        <div class="pure-u-1-3 user-details">
          <div class="inner-container">
            <div class="bottom-separator bottom-separator-spacing">
              <div class="user-details-image">
                <img src="http://i.imgur.com/rO4toTv.png" />
              </div>
            </div>

            <div class="bottom-margin-small-spacer">
              <span class="user-details-label">Email at</span> <%= mail_to @user.email %>
            </div>

            <% if @user.phone.present? %>
            <div class="bottom-margin-small-spacer">
              <span class="user-details-label">Call on</span> <%= @user.phone %>
            </div>
            <% end %>

            <% if @user.department.present? %>
            <div class="bottom-margin-small-spacer">
              <span class="user-details-label">Member of</span> <%= @user.department %>
            </div>
            <% end %>

            <% if @user.location.present? %>
            <div class="bottom-margin-small-spacer">
              <span class="user-details-label">Located in</span> <%= @user.location %>
            </div>
            <% end %>

            <% if @user.company.present? %>
            <div class="bottom-margin-small-spacer">
              <span class="user-details-label">Works for</span> <%= @user.company %>
            </div>
            <% end %>

            <div class="bottom-separator bottom-separator-spacing">
              <span class="user-details-label">Joined on</span> <%= @user.created_at.to_formatted_s(:month_day_year) %>
            </div>

            <div class="pure-g-r counts bottom-margin-small-spacer">
              <div class="pure-u-1-3 count left">
                <div class="count-inner">
                  <%= @user.posts.count %>
                </div>
                
                <div>
                  <%= pluralizer @user.posts.count, 'post' %>
                </div>
              </div>

              <div class="pure-u-1-3 count centre">
                <div class="count-inner">
                  <%= @user.comments.count %>
                </div>

                <div>
                  <%= pluralizer @user.comments.count, 'comment' %>
                </div>
              </div>

              <div class="pure-u-1-3 count right">
                <div class="count-inner">
                  <%= @user.sections.count %>
                </div>

                <div>
                  <%= pluralizer @user.sections.count, 'section' %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pure-u-2-3 user-contributions">
          <ul>
            <% @contributions.each do |contribution| %>
              <li>
                <header>
                  <%= contribution.class %>
                </header>

                <div class="title">
                  <% if contribution.class == Post %>
                    <% if contribution.link_url.blank? %>
                      <%= link_to contribution.title, section_post_path(contribution.section, contribution) %>
                    <% else %>
                      <%= link_to contribution.title, contribution.link_url, target: '_blank' %>
                    <% end %>
                    <%#= link_to contribution.title, section_post_path(contribution.section, contribution) %>
                  <% elsif contribution.class == Comment %>
                    <%= link_to contribution.content, section_post_path(contribution.post.section, contribution.post) %>
                  <% elsif contribution.class == Section %>
                    <%= link_to contribution.title, section_path(contribution) %>
                  <% elsif contribution.class == Favourite %>
                    <%= link_to contribution.section.title, section_path(contribution.section) %>
                  <% end %>
                </div>

                <div class="details">
                  <% if contribution.class == Post || contribution.class == Comment %>
                    <%= vote_pluralizer contribution %> 
                  <% end %>

                  <% if contribution.class == Section %>
                    created
                  <% elsif contribution.class == Favourite %>
                    added
                  <% end %>

                  <%= time_ago_in_words(contribution.created_at) %> ago

                  <% if contribution.class == Post %>
                     in <%= link_to contribution.section.title, section_path(contribution.section) %>

                     · <%= contribution.comments.count %> <%= pluralizer(contribution.comments.count, 'comment') %>

                    <% if !contribution.link_url.blank? %>
                       · <%= contribution.short_link_url %>
                    <% end %>
                  <% elsif contribution.class == Comment %>
                     in <%= link_to contribution.post.title, section_post_path(contribution.post.section, contribution.post) %>
                  <% elsif contribution.class == Section %>
                     · <%= contribution.posts.count %> <%= pluralizer(contribution.posts.count, 'post') %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>

          <%= will_paginate @contributions, :page_links => false, :previous_label => 'Previous', :next_label => 'Next' %>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>