<%= form_for @section, html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' } do |f| %>
  <div class="pure-g-r">
    <% if @section.errors.any? %>
      <div class="pure-u-1">
        <div id="error_explanation">
          <h2><%= pluralize(@section.errors.count, 'error') %> prohibited this section from being saved:</h2>

          <ul>
          <% @section.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="pure-u-1">
      <div class="pure-g-r">
        <div class="pure-u-1">
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: 'Enter a title...', autocomplete: :off %>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1">
          <%= f.label :decription %>
          <%= f.text_area :description, placeholder: 'Enter a description...', autocomplete: :off %>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1 actions">
          <%= f.submit 'Update' %>
        </div>
      </div>
    </div>
  </div>
<% end %>