<%= form_for @section, html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' } do |f| %>
  <div class="pure-g-r">
    <% if @section.errors.any? %>
      <div class="pure-u-1">
        <div id="error_explanation">
          <h2><%= pluralize(@section.errors.count, 'error') %> prohibited this section from being saved:</h2>

          <ul>
          <% @section.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="pure-u-1">
      <div class="pure-g-r">
        <div class="pure-u-1">
          <%= f.label :title %>
          <%= f.text_field :title, placeholder: 'Enter a title...', autofocus: true, autocomplete: :off %>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1 bottom-separator bottom-separator-spacing">
          <%= f.label :description, 'Description' %>
          <%= f.text_area :description, placeholder: 'Enter a description...', autocomplete: :off %>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1 availability bottom-separator bottom-separator-spacing">
          <div class="pure-g-r">
            <div class="pure-u-1">   
              <%= f.radio_button :private, 'false', checked: true %>
              <%= f.label :private, 'Public', value: 'false' %>
              <p>Anyone can see and contribute to this section.</p>
            </div>
          </div>
          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= f.radio_button :private, 'true' %>
              <%= f.label :private, 'Private', value: 'true' %>
              <p class="no-bottom-margin">You choose who can see and contribute to this section.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="pure-g-r">
        <div class="pure-u-1 actions">
          <%= f.submit 'Create' %>
        </div>
      </div>
    </div>
  </div>
<% end %>