<div class="pure-g-r content-menu">
  <div class="pure-u-1 content-menu-inner">
    <div class="pure-g">
      <div class="pure-u-1-2 section-heading">
        <h1 class="section-header">
          <%= link_to 'Sections', sections_path %>
        </h1>
      </div>

      <div class="pure-u-1-2 text-right">
        <nav>
          <ul>
            <li>
              <%= nav_link 'Add Section', new_section_path, class: 'section-add-post-link' %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>