<div class="pure-g-r content-menu">
  <div class="pure-u-1 content-menu-inner" style="position: relative;">
    <div id="share-link-interface" style="display: none;">
      <%= render 'shares/form' %>
    </div>

    <div class="pure-g">
      <div class="pure-u-1-2 section-heading">
        <h1 class="section-header">
          <%= link_to title, path %>
        </h1>

        <% if !@section.nil? %>
          <% if @favourite.nil? %>
            <%= form_for [@section, Favourite.new], html: { class: 'qt-form-favourite' } do |f| %>
              <%= f.button '', class: 'icon icon-ios7-star-outline' %>
            <% end %>
          <% else %>
            <%= form_for [@section, @favourite], html: { class: 'qt-form-favourite' }, method: :delete do |f| %>
              <%= f.button '', class: 'icon icon-ios7-star' %>
            <% end %>
          <% end %>

          <%= link_to '', new_share_path, class: 'icon icon-share share-link' %>
        <% end %>
      </div>

      <% if !@section.nil? %>
      <div class="pure-u-1-2 text-right">
        <nav>
          <ul>
            <li>
              <%= nav_link 'Posts', section_path(@section) %>
            </li>
            <% if @section.is_owner(current_user) %>
            <li>
              <%= nav_link 'Settings', edit_section_path(@section) %>
            </li>
            <% end %>
            <li>
              <%= nav_link 'Add Post', new_section_post_path(@section), class: 'section-add-post-link' %>
            </li>
          </ul>
        </nav>
      </div>
      <% end %>
    </div>
  </div>
</div>