<div class="edit">
  <%= render partial: 'section_menu', locals: { title: @section.title, path: section_path(@section) } %>

  <div class="pure-g-r content-container">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <header>
          <h2>Settings</h2>
        </header>

        <%= render 'edit_section_form' %>
      </div>
    </div>
  </div>

  <div class="pure-g-r content-container collaborators">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <header>
          <h2>Collaborators</h2>
        </header>

        <% @section.collaborations.each do |c| %>
          <div class="pure-g-r bottom-separator">
            <div class="pure-u-2-3 details">
              <%= c.user.full_name %>
            </div>

            <div class="pure-u-1-3 actions">
              <%= form_for [@section, c], html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' }, method: :delete do |f| %>
                <%= f.submit '&times;'.html_safe %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="pure-g-r">
          <div class="pure-u-1">
            <%= form_for [@section, Collaboration.new], html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' } do |f| %>
              <div class="pure-g-r">
                <div class="pure-u-1">
                  <%= f.label :user_id, 'Collaborator Name' %>
                  <%= f.text_field :user_id, placeholder: 'Enter a collaborator\'s name...', autocomplete: :off %>

                  <%= f.hidden_field :section_id, value: @section.id %>
                </div>

                <div class="pure-u-1 actions">
                  <%= f.submit 'Add' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pure-g-r content-container">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <header>
          <h2>Actions</h2>
        </header>

        <div class="pure-g-r <%= 'bottom-separator bottom-separator-spacing' if @section.is_owner(current_user) %>">
          <div class="pure-u-1">
            <%= form_for @section, html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' } do |f| %>
              <div class="pure-g-r">
                <div class="pure-u-1">
                  <legend>
                    <%= 'Make this section ' + (@section.private? ? 'public' : 'private') %>
                  </legend>
                </div>

                <div class="pure-u-2-3">
                  <p class="action-description no-bottom-margin">
                    <% if @section.private %>
                      Make this section visible to everyone.
                    <% else %>
                      Hide this section from everyone but the owner and collaborators.
                    <% end %>
                  </p>
                </div>

                <%= f.hidden_field :private, value: !@section.private %>

                <div class="pure-u-1-3 actions">
                  <%= f.submit 'Make ' + (@section.private? ? 'public' : 'private'), class: 'danger' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="pure-g-r bottom-separator bottom-separator-spacing section-ownership">
          <div class="pure-u-1">
            <%= form_for @section, html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' } do |f| %>
              <div class="pure-g-r">
                <div class="pure-u-1 legend-container">
                  <legend>
                    Change section owner
                  </legend>
                </div>

                <div class="pure-u-1">
                  <%= f.label :user_id, 'Owner Name' %>
                  <%= f.text_field :user_id, placeholder: 'Enter the new owner\'s name...', autocomplete: :off %>

                  <%= f.hidden_field :section_id, value: @section.id %>
                </div>

                <div class="pure-u-1 actions">
                  <%= f.submit 'Change owner', class: 'danger' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="pure-g-r">
          <div class="pure-u-1">
            <%= form_for @section, html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' }, method: :delete do |f| %>
              <div class="pure-g-r">
                <div class="pure-u-1">
                  <legend>
                    Delete this section
                  </legend>
                </div>

                <div class="pure-u-2-3">
                  <p class="action-description no-bottom-margin">Deleting a section is permanent and cannot be undone.</p>
                </div>

                <div class="pure-u-1-3 actions">
                  <%= f.submit 'Delete section', class: 'danger' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>