<div class="index">
  <%= render 'sections_menu' %>

  <div class="pure-g-r">
    <div class="pure-u-1 content">
      <div class="pure-g-r">
        <% @sections.each do |section| %>
          <div class="pure-u-1-2 item">
            <div class="inner-container">
              <h1>
                <%= link_to section.title, section_path(section) %>
              </h1>

              <div class="details">
                <%= section.posts.count %> <%= pluralizer section.posts.count, 'post' %> since created <%= time_ago_in_words(section.created_at) %> ago · owned by <%= link_to section.user.full_name, user_path(section.user) %>
              </div>
            </div>
          </div>
        <% end %>

        <%= will_paginate @posts, :page_links => false, :previous_label => 'Previous', :next_label => 'Next' %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>