<div class="new">
  <%= render 'sections_menu' %>

  <div class="pure-g-r">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <%= render 'new_section_form' %>
      </div>
    </div>
  </div>
</div>