<div class="show">
  <%= render partial: 'sections/section_menu',  locals: { title: @section.title, path: section_path(@section) } %>
  
  <%= render partial: 'posts/post_list', locals: { posts: @posts, counter_reset: @counter_reset, show_details: false } %>
</div>