<div class="pure-g-r content-menu">
  <div class="pure-u-1 content-menu-inner">
    <div class="pure-g-r">
      <div class="pure-u-1-2 section-heading">
        <h1 class="section-header">
          <%= link_to current_user.full_name, user_path(current_user) %>
        </h1>
      </div>

      <div class="pure-u-1-2 text-right">
        <nav>
          <ul>
            <li>
              <%= nav_link 'Profile', profile_settings_path %>
            </li>
            <li>
              <%=  nav_link 'Favourites', favourites_settings_path %>
            </li>
            <li>
              <%= nav_link 'Admin', admin_settings_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>