<div class="favourites">
  <%= render 'settings_menu' %>

  <div class="pure-g-r item-list">
    <div class="pure-u-1 content">
      <ul>
        <% @favourites.each do |favourite| %>
          <li>
            <div class="pure-g">
              <div class="favourite-controls">
                <%= form_for [favourite.section, favourite], html: { class: 'qt-form-favourite' }, method: :delete do |f| %>
                  <%= f.button '', class: 'icon icon-ios7-star' %>
                <% end %>
              </div>

              <div class="pure-u-1">
                <header>
                  <%= link_to favourite.section.title, section_path(favourite.section) %>
                </header>
                <div class="details">
                  added <%= time_ago_in_words(favourite.created_at) %> ago
                </div>
              </div>

              <div class="position-controls">
                <%= form_for [favourite.section, favourite], html: { class: 'pure-form pure-form-stacked qt-form qt-form-favourite-move-up' } do |f| %>
                  <div class="pure-g">
                    <div class="pure-u-1 actions">
                      <%= f.hidden_field :direction, value: 'up' %>

                      <%= f.button '', class: 'icon icon-arrow-up-b' %>
                    </div>
                  </div>
                <% end %>

                <%= form_for [favourite.section, favourite], html: { class: 'pure-form pure-form-stacked qt-form qt-form-favourite-move-down' } do |f| %>
                  <div class="pure-g">
                    <div class="pure-u-1 actions">
                      <%= f.hidden_field :direction, value: 'down' %>

                      <%= f.button '', class: 'icon icon-arrow-down-b' %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>