<div class="profile">
  <%= render 'settings_menu' %>

  <div class="pure-g-r">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <%= render 'users/form', user: current_user %>
      </div>
    </div>
  </div>
</div>