<div class="new">
  <div class="pure-g-r">
    <div class="pure-u-1 sign-in">
      <div class="inner-container">
        <header>
          <h1>Sign In to QuickTalk</h1>
        </header>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'pure-form pure-form-stacked qt-form qt-form-full' }) do |f| %>
          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= f.label :email %>
              <%= f.email_field :email, :autofocus => true, placeholder: 'Enter your email address...' %>
            </div>
          </div>

          <div class="pure-g-r">
            <div class="pure-u-1">
              <%= f.label :password %>
              <%= f.password_field :password, placeholder: 'Enter your password...' %>
            </div>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="pure-g-r">
              <div class="pure-u-1 remember">
                <div class="left">
                  <%= f.label :remember_me %>
                </div>

                <div>
                  <%= f.check_box :remember_me %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="pure-g">
            <div class="pure-u-1-2 links">
              <%= render "devise/shared/links" %>
            </div>

            <div class="pure-u-1-2 actions">
              <%= f.submit "Sign in" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>