<div class="pure-g-r item-list post-list">
  <div class="pure-u-1 content">
    <ol style="counter-reset: li <%= counter_reset %>">
      <% posts.each do |post| %>
        <li>
          <header>
            <% if post.link_url.blank? %>
              <%= link_to post.title, section_post_path(post.section, post) %>
            <% else %>
              <%= link_to post.title, post.link_url, target: '_blank' %>
            <% end %>
          </header>
          <div class="details">
            <%= vote_pluralizer post %> by <%= link_to post.user.full_name, user_path(post.user) %>

            <% if show_details %>
              in <%= link_to post.section.title, section_path(post.section) %>
            <% end %>

             <%= time_ago_in_words(post.created_at) %> ago 
          
             · <%= link_to post.comments.count.to_s + ' ' + pluralizer(post.comments.count, 'comment'), section_post_path(post.section, post) %>

            <% if !post.link_url.blank? %>
               · <%= post.short_link_url %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ol>

    <%= will_paginate @posts, :page_links => false, :previous_label => 'Previous', :next_label => 'Next' %>
    <div class="clearfix"></div>
  </div>
</div>