<%= form_for [@section, @post], html: { class: 'pure-form pure-form-stacked qt-form qt-form-split' } do |f| %>
  <div class="pure-g-r">
    <% if @post.errors.any? %>
      <div class="pure-u-1">
        <div id="error_explanation" class="pure-u-1">
          <h2><%= pluralize(@post.errors.count, 'error') %> prohibited this post from being saved:</h2>

          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="pure-u-1-2 left-field">
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => 'Enter a title...', :autofocus => true, autocomplete: :off %>
    </div>

    <div class="pure-u-1-2 right-field">
      <%= f.label :link_url, 'Link', style: 'width: 100%;' %>
      <%= f.text_field :link_url, :placeholder => 'Enter a link...', autocomplete: :off %>
    </div>
    
    <div class="pure-u-1 field">
      <%= f.label :content %>
      <%= f.text_area :content, :placeholder => 'Write a post...', autocomplete: :off %>
    </div>
    
    <div class="pure-u-1 actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
