<div class="index_all">
  <%= render partial: 'sections/section_menu', locals: { title: 'Front Page', path: root_path } %>

  <%= render partial: 'posts/post_list', locals: { posts: @posts, counter_reset: @counter_reset, show_details: true } %>
</div>