<div class="new">
  <%= render partial: 'sections/section_menu', locals: { title: @section.title, path: section_path(@section) } %>

  <div class="pure-g-r">
    <div class="pure-u-1 content">
      <div class="inner-container">
        <%= render 'post_form' %>
      </div>
    </div>
  </div>
</div>