<div class="show">
  <%= render partial: 'sections/section_menu', locals: { title: @section.title, path: section_path(@section) } %>

  <div class="pure-g-r">
    <div class="pure-u-1 content">
      <div class="first-post">
        <header>
          <div class="vote-controls">
            <%= vote_up_button vote_up_section_post_path(@section, @post) %>
          </div>
          <div class="header-content">
        	  <h1>
              <% if @post.link_url.blank? %>
                <%= @post.title %>
              <% else %>
                <%= link_to @post.title, @post.link_url, target: '_blank' %>
              <% end %>
            </h1>
            <div class="details">
              <%= vote_pluralizer @post %> by <%= link_to @post.user.full_name, user_path(@post.user) %> <%= time_ago_in_words(@post.created_at) %> ago

              <% if !@post.link_url.blank? %>
                 · <%= @post.short_link_url %>
              <% end %>

              <% if @post.is_action_authorised(current_user) %>
                 · <%= link_to 'Edit', edit_section_post_path(@section, @post) %> · 

                <%= form_for [@section, @post], html: { class: 'qt-form-link' }, method: :delete do |f| %>
                  <% f.submit 'Delete', class: 'danger' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </header>

        <% if !@post.content.blank? %>
          <div class="inner-content">
            <%= simple_format(@post.content) %>
          </div>
        <% end %>
      </div>

      <div class="new-comment">
        <%= render 'comment_form' %>
      </div>

      <div class="comments">
      	<ol>
          <% @post_comments.each do |comment| %>
            <li>
              <div class="pure-g-r">
                <div class="pure-u-1-5">
                  <div class="side-container">
                    <div class="vote-controls">
                      <%= vote_up_button section_post_comment_vote_up_path(@section, @post, comment) %>
                    </div>
                    <div class="details">
                    	<div class="inner-details">
                        <%= link_to comment.user.full_name, user_path(comment.user) %>
                      </div>
                      <div class="inner-details">
                        <%= vote_pluralizer comment %>
                      </div>
                      <div class="inner-details">
                        <%= time_ago_in_words(comment.created_at) %> ago
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pure-u-4-5">
                  <div class="inner-content">
                    <%= simple_format(comment.content) %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>