$black: #333;

$sun-flower: #F2B526;
$orange: #ECA02D;

$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;

$green-sea: #16A085;

$peter-river: #5ba4e5;
$belize-hole: #2980B9;

$alizarin: #E74C3C;
$pomegranate: #C0392B;

$emerald: #2ECC71;
$nephritis: #27AE60;

$clouds: #ECF0F1;
$silver: #BDC3C7;
$light-silver: #dae3e8;
$dark-silver: #7D878A;

$concrete: #95A5A6;
$asbestos: #7F8C8D;

$white: #fff;