@import 'colours';
@import 'variables';
@import 'mixins';

// override default font from pure css
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
}

body {
  background: $clouds;
  color: $black;
}

a {
  @include link-common;
}

h1, h2, h3, h4, h5 {
  color: $wet-asphalt;
  font-weight: normal;
}

p {
  line-height: 18px;
  color: $wet-asphalt;
}

.clearfix {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-section-menu {
  margin-top: 74px;
}

.bottom-separator {
  border-bottom: 1px solid $clouds;
}

.bottom-separator-spacing {
  margin-bottom: $inner-padding;
  padding-bottom: $inner-padding;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.bottom-margin-small-spacer {
  margin-bottom: $small-spacer;
}

.content {
  @include max-width-container;
}

.inner-container {
  padding: $inner-padding;
  background: $white;

  header {
    margin-bottom: $inner-padding;

    h1 {
      margin: 0;
    }
  }
}

.pagination {
  margin-top: $small-spacer;
  padding: 0 20px;
  font-size: 14px;

  .previous_page {
    float: left;
  }

  .next_page {
    float: right;
  }

  .disabled {
    display: none;
  }
}

.page-actions {
  margin: 0 $small-spacer $small-spacer $small-spacer;
  color: $silver;
}

.content-menu {
  margin-bottom: $small-spacer;
  border-bottom: 1px solid $clouds;

  .content-menu-inner {
    @include max-width-container;

    min-height: 66px;
    padding: $inner-padding $inner-padding * 0.5 0 $inner-padding * 0.5;
    box-sizing: border-box;

    .section-heading {
      vertical-align: middle;

      h1 {
        margin: 0;
        padding: 0 $small-spacer 0 $small-spacer;

        a {
          color: $silver; 

          &:hover {
            color: $asbestos;
          }
        }
      }
    }

    .qt-form-favourite {
      vertical-align: bottom;
      margin-left: 5px;

      input[type="submit"] {
        padding: 2px 6px 3px 6px;
      }
    }

    .share-link {
      margin-left: 10px;
      display: inline-block;
      vertical-align: bottom;
      font-size: 25px;
      color: $silver;

      &:hover {
        color: $asbestos;
      }
    }

    nav {
      margin-top: 8px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0 $small-spacer;
          display: inline;

          a {
            padding: $small-spacer;
            color: $silver;
            font-size: 14px;

            &:hover {
              color: $asbestos;
            }

            &.selected {
              border-bottom: 2px solid $dark-silver;
              color: $asbestos;
            }
          }
        }
      }
    }
  }
}

.section-add-post-link {
  color: $peter-river !important;

  &:hover {
    color: $belize-hole !important;
  }

  &.selected {
    color: $belize-hole !important;
    border-bottom: 2px solid $belize-hole !important;
  }
}

.section-header {
  display: inline-block;
  font-size: 20px;
}

#share-link-interface {
  padding: 13px;
  background: $white;
  position: absolute;
  top: 75px;
  left: 0px;
  z-index: 100;
  box-shadow: 0 1px 3px $silver;
  width: 100%;
  box-sizing:border-box;
  max-width: 400px;
}

.user-details-image {
  padding: $small-spacer;
  border: 1px solid $clouds;
  display: inline-block;
}

.item-list {
  ol, ul {
    margin: 0;
    padding: 0;
    background: $white;
    font-size: 14px;

    li {
      position: relative;
      padding: 20px 20px 20px 70px;
      list-style: none;
      @include grey-border-bottom;
      color: $silver;
      
      header {
        margin-bottom: $small-spacer;
        font-size: 16px;
      }

      .details {
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

.item-list {
  ol {
    li {
      &:before {
        content: counter(li) ".";
        counter-increment: li;
        position: absolute;
        top: 21px;
        left: 27px;
      }
    }
  }
}

.sessions form .links, .registrations form .links {
  position: relative;

  a {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}