@import 'colours';
@import 'variables';
@import 'mixins';

@mixin submit-no-border {
  border: none;
}

.qt-form {
  legend {
    margin-bottom: $small-spacer;
    border-bottom: none;
  }

  label {
    margin-bottom: $small-spacer;
    color: $asbestos;
  }

  input[type='text'], input[type='email'], input[type='password'] {
    @include text-input-common;

    box-shadow: none;
    border-radius: 0;
    font-size: 100%;
  }

  textarea {
    width: 100%;
    padding: 20px;
    border: none;
    line-height: 18px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    background: $clouds;
    color: $wet-asphalt;
    font-size: inherit;
    border-radius: 0;
    box-shadow: none;
  }

  input[type='submit'] {
    @include submit-input-common;

    box-shadow: none;
    border-radius: 0;
  }
}

.qt-form-full {
  @include form-common;

  input[type='text'], input[type='email'], input[type='password'] {
    width: 100%;
    display: inline-block;
  }
}

.qt-form-split {
  @include form-common;

  .left-field {
    padding-right: $small-spacer * 0.5;
    box-sizing: border-box;
  }

  .right-field {
    padding-left: $small-spacer * 0.5;
    box-sizing: border-box;
  }

  input[type='text'], input[type='email'], input[type='password'] {
    width: 100%;
  }
}

.qt-form-link {
  display: inline;

  input[type='submit'] {
    @include submit-no-border;
    @include link-common;

    margin: 0;
    padding: 0;
    background: none;
    font-size: 12px;

    &.danger {
      color: $alizarin;

      &:hover {
        color: $pomegranate;
        background: none;
      }
    }
  }
}

.qt-form-vote {
  input[type='submit'] {
    @include submit-no-border;

    width: 0;
    height: 0;
    padding: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 11px solid $silver;
    background: transparent;

    &:hover {
      border-bottom: 11px solid $dark-silver;
      background: none;
    }
  }
}

.qt-form-favourite {
  display: inline-block;

  button[type='submit'] {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 21px;
    color: $silver;

    &:hover {
      color: $asbestos;
    }
  }
}

.qt-form-signout {
  input[type='submit'] {
    @include submit-no-border;
  }
}

.qt-form-main-search {
  position: relative;

  input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 10px 35px 10px 10px;
    background: #3C4247;
    color: #9d9e9f;
  }

  button[type='submit'] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 4px 7px 0 7px;
    background: none;
    border: none;
    font-size: 25px;
    color: #9d9e9f;

    &:hover {
      background: $clouds;
      color: #2C3033;
    }
  }
}

.qt-form-share {
  padding-bottom: 0 !important;

  .actions{
    text-align: center;
  }

  input[type='submit'] {
    width: 100%;
  }
}

.qt-form-favourite-move-up, .qt-form-favourite-move-down {
  button {
    padding: 0;
    background: none;
    border: none;
    font-size: 28px;
    color: $clouds;
    vertical-align: top;

    &:hover {
      color: $silver;
    }
  }
}

.selectize-input.has-items {
  padding: 13px !important;
}

.selectize-input, .selectize-control.multi .selectize-input.has-items, .selectize-input.focus {
  @include text-input-common;

  margin-bottom: $small-spacer;
  box-shadow: none;
  border-radius: 0;
  line-height: 12px;
  font-size: 12px;

  &.has-items {
    padding-bottom: (13 - $small-spacer) !important;
  }

  &.dropdown-active {
    box-shadow: none;
  }

  > div {
    margin: 0 $small-spacer $small-spacer 0;
    padding: $small-spacer;
    background: #3C4247;
    color: $clouds;

    span.email {
      color: $silver;

      &:before {
        content: '<';
      }

      &:after {
        content: '>';
      }
    }

    span.name + .email {
      margin-left: 5px;
    }
  }
}

div.selectize-dropdown.multi {
  top: 55px !important;
  border: none;
  // box-shadow: none;
  background: $white;
  color: #3C4247;

  .selectize-dropdown-content > div {
    span {
      

      &.caption {
        display: block;
        color: $silver;
      }
    }

    &.active {
      background: #3C4247;
      color: $clouds;
    }
  }
}