@import 'colours';
@import 'variables';

#layout.open {
  padding: 0 0 0 $menu-width;
  left: 0;
}

#main {
  padding: 0 20px 40px 20px;
}

#menu {
  margin-left: -$menu-width;
  width: $menu-width;
  position: fixed;
  top: 0;
  left: $menu-width;
  bottom: 0;
  z-index: 1000;
  background: #2C3033;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;

  .menu-logo {
    padding: 20px 21px 10px 20px;
    text-align: center;

    a {
      color: $clouds;
      font-size: 38px;
    }
  }

  .menu-search {
    margin: 30px 20px 10px 20px;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        a {
          padding: 10px 20px;
          color: $clouds;
          text-decoration: none;
          display: block;
          font-size: 14px;
          position: relative;

          span {
            padding: 3px 10px 3px 10px;
            background: #3C4247;
            color: #9d9e9f;
            position: absolute;
            top: 8px;
            right: 20px;
          }

          &:hover, &.selected {
            color: #2C3033;
            background: $clouds;
            border-bottom: none;

            span {
              background: #2C3033;
              color: $clouds;
            }
          }
        }
      }
    }

    header {
      padding: 30px 20px 10px 20px;
      text-transform: uppercase;
      color: $dark-silver;
      font-size: 10px;

      a {
        float: right;
        color: $dark-silver;
        font-size: 14px;

        &:hover {
          color: $clouds;
        }
      }
    }
  }
}

#menu-logo {
  a {
    height: 186px;
    width: 185px;
    display: block;
    margin: 40px 40px 0 40px;
    background: image-url('logo.png') no-repeat;
  }
}

.menu-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  a {
    padding: $small-spacer 0;
    display: block;
    font-size: 26px;
    color: #9d9e9f;
    text-align: center;

    &:hover {
      background: $clouds;
      color: #2C3033;
    }
  }
}

#main-menu-container {
  nav ul {
    margin: 0;
    padding: 0;

    li {
      min-width: 20px;
      min-height: 18px;
      margin: 0 1px 0 0;
      padding: 15px 40px;
      float: left;
      text-align: center;
      border-right: 1px solid #eee;
    }
  }
}

.main-menu-title a {
  font-weight: bold;
}

#main-menu-right {
  float: right;

  ul li:last-child {
    margin-right: 0;
  }
}

#mobileHeader {
  height: 48px;
  background: #2C3033;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9;
  display: none;

  h1 {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 22px;
    color: $clouds;
  }
}

/* Add transition to containers so they can push in and out */
#layout,
#menu,
#mobileHeader,
.pure-menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

// TODO: refactor into sass structure
.pure-menu-link {
    display: none; /* show this only on small screens */
    top: 0;
    left: 150px; /* "#menu width" */
    background: #2C3033;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: 2px;
    padding: 23px 14px;
}

    .pure-menu-link span {
        position: relative;
        display: block;
    }

    .pure-menu-link span,
    .pure-menu-link span:before,
    .pure-menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: .2em;
        /*-webkit-transition: all 0.8s;
           -moz-transition: all 0.8s;
            -ms-transition: all 0.8s;
             -o-transition: all 0.8s;
                transition: all 0.8s;*/
    }

        .pure-menu-link span:before,
        .pure-menu-link span:after {
            position: absolute;
            margin-top: -.6em;
            content: " ";
        }

        .pure-menu-link span:after {
            margin-top: .6em;
        }

    .pure-menu-link.active span {
        background: transparent;
    }

        .pure-menu-link.active span:before {
            -webkit-transform: rotate(45deg) translate(.5em, .4em);
               -moz-transform: rotate(45deg) translate(.5em, .4em);
                -ms-transform: rotate(45deg) translate(.5em, .4em);
                 -o-transform: rotate(45deg) translate(.5em, .4em);
                    transform: rotate(45deg) translate(.5em, .4em);
        }

        .pure-menu-link.active span:after {
            -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
               -moz-transform: rotate(-45deg) translate(.45em, -.35em);
                -ms-transform: rotate(-45deg) translate(.45em, -.35em);
                 -o-transform: rotate(-45deg) translate(.45em, -.35em);
                    transform: rotate(-45deg) translate(.45em, -.35em);
        }