@import 'colours';
@import 'variables';

@media (max-width: 979px) {

  /* Navigation Push Styles */
  #layout.open {
    position: relative;
    padding-left: 0px;

    &.active {
      position: relative;
      left: $menu-width;

      #menu {
        left: $menu-width;
        width: $menu-width;
      }

      .pure-menu-link {
        left: $menu-width;
      }
    }

    #mobileHeader {
      display: block;

      &.active {
        left: $menu-width;
      }
    }

    .pure-menu-link {
      position: fixed;
      left: 0;
      display: block;
    }
  }

  #menu {
    left: 0;

    .menu-logo {
      display: none;
    }
  }

  #main {
    margin-top: 50px;
  }

  #main.sessions, #main.registrations {
    margin-top: 0;
  }

  .content-menu .content-menu-inner {
    padding: $small-spacer $small-spacer 0 $small-spacer;
    min-height: 25px;
  }

  .sessions .new .sign-in {
    margin: 0 auto !important;
  }

  .registrations .new .sign-up {
    margin: 0 auto !important;
  }

  .posts .index_all .main-item .actions {
    padding-top: 20px;
  }

  .post-list ol li {
    padding: 20px 20px 20px 50px !important;

    &:before {
      left: 20px;
    }
  }
}

@media (max-width: 767px) {
  #main {
    padding: 0 $small-spacer $small-spacer $small-spacer;
  }
}