@import 'variables';

@mixin text-input-common {
  padding: 20px;
  border: none;
  outline: none;
  resize: none;
  background: $clouds;
  color: $wet-asphalt;
}

@mixin submit-input-common {
  padding: 10px;
  font-size: 12px;
  border: none;
  background: #3C4247;
  color: $white;

  &:hover {
    background: $midnight-blue;
  }

  &.danger {
    background: $alizarin;

    &:hover {
      background: $pomegranate;
    }
  }
}

@mixin form-common {
  input[type='text'], input[type='email'], input[type='password'] {
    margin-bottom: $small-spacer;
    box-sizing: border-box;
  }

  textarea {
    height: 210px;
    margin-bottom: $small-spacer;
  }

  .actions {
    text-align: right;
  }
}

@mixin link-common {
  color: $peter-river;
  text-decoration: none;
  
  &:hover {
    color: $belize-hole;
  }
}

@mixin max-width-container {
  max-width: $max-width;
  margin: 0 auto;
}

@mixin grey-border-bottom {
  border-bottom: 1px solid $clouds;
}