@import 'colours';
@import 'variables';
@import 'mixins';

$vote-padding-right: $small-spacer * 2;

@mixin first-last-paragraph-margins {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.posts {
  .index {
    ol {
      margin: 0;
      padding: 0;
      background: $white;

      li {
        position: relative;
        padding: 20px 20px 20px 70px;
        list-style: none;
        @include grey-border-bottom;
        color: $silver;
        
        header {
          margin-bottom: $small-spacer;
          font-size: 16px;
        }

        &:before {
          content: counter(li) ".";
          counter-increment: li;
          position: absolute;
          top: 21px;
          left: 27px;
        }

        .details {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }

  .show {
    .first-post {
      padding: $inner-padding;
      @include grey-border-bottom;
      background: $white;

      header {
        > div {
          display: table-cell;
        }

        .vote-controls {
          padding: 10px $vote-padding-right 0 0;
          vertical-align: top;
        }

        h1 {
          margin: 0 0 $small-spacer 0;
        }

        .details {
          font-size: 12px;
          font-weight: normal;
          color: $silver;
        }
      }

      .inner-content {
        margin-top: $inner-padding;

        @include first-last-paragraph-margins;
      }
    }

    .new-comment {
      padding: $inner-padding;
      @include grey-border-bottom;
      background: $white;
      
      form {
        textarea {
          height: 110px;
          margin-bottom: $small-spacer;
        }
      }
    }

    .comments {
      ol {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          padding: $inner-padding;
          @include grey-border-bottom;
          background: $white;

          .side-container {
            > div {
              display: table-cell;
            }

            .vote-controls {
              padding-right: $vote-padding-right;
              vertical-align: top;
            }

            .details {
              padding-top: 1px;
              font-size: 12px;
              font-weight: normal;
              color: $silver;

              .inner-details {
                margin-bottom: $small-spacer;
              }
            }
          }

          .inner-content {
            @include first-last-paragraph-margins;
          }
        }
      }
    }
  }
}