@import 'colours';
@import 'variables';

.registrations {
  .new {
    .sign-up {
      max-width: 600px;
      margin: 100px auto;

      h1 {
        margin-top: 0;
      }
    }
  }

  .edit {
    .content-container {
      margin-bottom: $inner-padding;

      h2 {
        margin-top: 0;
      }
    }

    .page-actions {

      .page-sub-action {
        header {
          margin-bottom: 0;

          h3 {
            margin-bottom: $small-spacer !important;
            padding: 5px 0;
            border-bottom: none !important;
            font-size: 18px;
          }
        }
      }

      .action-description {
        color: $dark-silver;
      }

      .actions {
        text-align: right;
      }
    }
  }
}