@import 'colours';
@import 'variables';
@import 'mixins';

.sections {
  .index {
    .item {
      padding: 0 $small-spacer $small-spacer 0;
      box-sizing: border-box;

      .details {
        margin-top: $small-spacer;
        font-size: 12px;
        font-weight: normal;
        color: $silver;
      }
    }

    .inner-container {
      h1 {
        margin: 0;
      }
    }
  }

  .edit {
    .content-container {
      margin-bottom: $inner-padding;

      h2 {
        margin-top: 0;
      }
    }

    .action-description {
      color: $dark-silver;
    }

    .collaborators .inner-container .bottom-separator {
      margin-bottom: $small-spacer * 2;
      padding-bottom: $small-spacer * 2;
      vertical-align: top;

      .details {
        padding: 6px 0;
      }

      .actions form {
        text-align: right;

        input[type='submit'] {
          width: 30px;
          height: 30px;
          margin: 0;
          padding: 0;
          border-radius: 50%;
          border: 2px solid $silver;
          background: none;
          color: $silver;
          font-size: 20px !important;
          font-weight: bold;

          &:hover {
            border-color: $asbestos;
            color: $asbestos;
          }
        }
      }
    }

    .section-ownership .legend-container {
      margin-bottom: 22px;
    }
  }

  .new {
    .availability {
      label {
        margin-left: $small-spacer;
        display: inline;
        vertical-align: middle;
      }

      p {
        color: $silver;
      }
    }
  }
}