@import 'variables';

.sessions {
  .new {
    .sign-in {
      max-width: 600px;
      margin: 100px auto;

      h1 {
        margin-top: 0;
      }

      .remember div {
        display: inline-block;

        &.left {
          margin-right: $small-spacer;
        }
      }
    }
  }
}