@import 'colours';
@import 'variables';
@import 'mixins';

.settings {
  .profile {
    .change-image-container {
      display: inline-block;

      .change-image-link {
        margin-top: $small-spacer;
        text-align: center;
      }
    }
  }

  .favourites {
    .favourite-controls {
      position: absolute;
      top: 28px;
      left: 25px;

      button {
        font-size: 25px;
      }
    }

    .position-controls {
      position: absolute;
      top: 13px;
      right: 25px;
    }
  }
}