@import 'variables';
@import 'colours';
@import 'mixins';

.users {
	.page-actions {
		min-height: 16px;
	}

  .show {
    .user-details {
      box-sizing: border-box;
      padding-right: $small-spacer;
      font-size: 14px;

      header {
        margin-bottom: 30px;
      }

      .counts {
        color: $silver;
        font-size: 12px;
        text-align: center;

        .count {
          box-sizing: border-box;

          &.left {
            padding: $small-spacer $small-spacer 0 0;
            // border-right: 1px solid $silver;
          }

          &.centre {
            padding: $small-spacer $small-spacer 0 $small-spacer;
          }

          &.right {
            padding: $small-spacer 0 0 $small-spacer;
            // border-left: 1px solid $silver;
          }

          .count-inner {
            margin-bottom: $small-spacer;
            color: $black;
            font-size: 18px;
            font-weight: bold;
          }
        }
      }

      .user-details-label {
        color: $silver;
      }
    }

    .user-contributions {
      ul {
        margin: 0;
        padding: 0;
        background: $white;

        li {
          padding: 20px;
          list-style: none;
          @include grey-border-bottom;
          color: $silver;

          header {
            margin-bottom: $small-spacer * 2;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
          }

          .title {
            margin-bottom: $small-spacer;
            font-size: 16px;
          }

          .details {
            font-size: 12px;
          }
        }
      }
    }
  }
}